<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test website</title>
  </head>
  <body>

    {{> header}}

    <p>This is the about page to learn about stuff.</p>

    {{> footer}}

  </body>
</html>
